* {
    margin: 0px;
    padding: 0px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.7em;
}

html, body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(210, 46%, 95%);
}

main {
    display: grid;
    margin: 24px;

    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    gap: 24px 30px;
}

article {
    padding: 24px 34px;
    
    border-radius: 13px; /*! Important*/
    background-clip: padding-box;
    position: relative;
    background-color: white;
}

header {
    width: 100%;
    display: block;
    margin-bottom: 23px;
    
    z-index: 2;
    position: relative;
}

img {
    display: inline-block;
    vertical-align: top;
    height: 30px;

    border-radius: 16px;
    border: 1px solid black;
    background-clip: border-box;

    margin-right: 17px;
}

div.user-id {
    display: inline-block;
    vertical-align: top;
}

div.user-id > h2 {
    font-weight: 600;
}

div.user-id > p {
    opacity: 50%;
    font-size: 12px;
}

article > h1 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 23px;
    line-height: 1.5em;
    
    z-index: 2;
    position: relative;
}

article > p {
    opacity: 70%;

    z-index: 2;
    position: relative;
}

#daniel-review {
    background-color: hsl(263, 55%, 52%);
    color: white;
}
#jonathan-review {
    background-color: hsl(217, 19%, 35%);
    color: white;
}
#jeanette-review {
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}
#patrick-review {
    background-color: hsl(219, 29%, 14%);
    color: white;
}
#kira-review {
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}

#daniel-review img {
    border-color: rgba(255, 255, 255, 0.5);
}
#jonathan-review img {
    border-color: rgba(255, 255, 255, 0.5);
}
#jeanette-review img {
    border-color: rgba(25, 33, 46, 0.5);
}
#patrick-review img {
    border-color: rgba(255, 255, 255, 0.5);
}
#kira-review img {
    border-color: rgba(25, 33, 46, 0.5);
}


@media (min-width:1158px) {
    main {  
        grid-template-rows: 1fr minmax(calc(1fr - 1.7em), 1fr);
        width: 1110px;
    }

    #daniel-review {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    #jonathan-review {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    #jeanette-review {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #patrick-review {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    #kira-review {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}

@media (min-width:873px) and (max-width:1158px) {
    main {  
        grid-template-rows: 1fr minmax(calc(1fr - 1.7em), 1fr) 1fr;
        width: 825px;
    }

    #daniel-review {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    #jonathan-review {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    #jeanette-review {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #patrick-review {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    #kira-review {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}

@media (min-width:588px) and (max-width:873px) {
    main {  
        grid-auto-rows: 1fr;
        width: 540px;
    }

    #daniel-review {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    #jonathan-review {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    #jeanette-review {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #patrick-review {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    #kira-review {
        grid-column: 1 / 3;
        grid-row-start: 4;
    }
}

@media (max-width:588px) {
    main {  
        display: block;
        width: calc(100vw - 48px);
        min-width: 327px;
    }

    article {
        margin-top: 24px;
        box-sizing: border-box;
        width: 100%;
        display: block;
    }
}

svg {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: calc(100% * 0.2628107981 - 61.97183097px);
    z-index: 1;
}